<apex:page standardController="Instrument__c" extensions="AttachmentViewPageController">
    
    <apex:includeScript value="/soap/ajax/34.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/34.0/apex.js"/>
    <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" />
    <apex:includeScript value="{!URLFOR($Resource.jszip)}"/>
    <apex:includeScript value="{!URLFOR($Resource.filesaver)}"/>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
        #overlay{
        position: absolute;
        left: 35%;
        top: 25%;
        padding: 25px;
        border: 2px solid black;
        background-color: #ffffff;
        width: 30%;
        height: 30%;
        z-index: 100;
        }
        
        #fade{
        position: absolute;
        left: 0%;
        top: 0%;
        background-color: black;
        opacity: .70;
        width: 100%;
    	height: 100%;
    	z-index: 90;
        }
        
        #percent{
        width: 0%;
    	height: 10px;
    	background: blue;
    	float: left;	
        }
        
        #progress{
        width: 200px;
    	height: 10px;
    	border: 1px solid lightgray;
        }
    </style>
    <script type="text/javascript">
    var str;
    var count; var checkedSize; var selectedFiels;
    var zipFile = new JSZip();
    Visualforce.remoting.timeout = 120000;
    $(document).ready(function() {
        var i = 0;
        //str = document.getElementById('j_id0:j_id2:j_id3:form:selectedF').value;
        //Instantiate JSZip
        //alert(JSON.stringify($('{!$Component.theForm.thePageBlock.button.dAllAtts}')));
        $('#dAllAtts').click(function() {
            count=0;
            checkedSize = $("input:checkbox:checked.selectBox").length;
            if (checkedSize == 0){
                alert("{!$Label.PlsSelectOneAttch}");
                return false;
            }
            $('#count').text(count+1);
            $('#total').text(checkedSize);
            $('#txtStatus').show();
            $('#progress').show();
            $('#complete').hide();
            $('#percent').css('width',0+'%');                        
            if (checkedSize < 200) {
                $('#overlay').show();$('#fade').show();            
                selectedFiels = $("input:checkbox:checked.selectBox");                 
                compress(count);                
            } else
                alert("You cannot select more than 200 attachments at once.");
        }); //end click
        function compress(cnt){
            console.log('selected fields'+$(selectedFiels[count]));
            AttachmentViewPageController.getAttachment($(selectedFiels[count]).next().val(), recordRetrieved, {
                  escape: false
            });
        }
        function recordRetrieved(result, event) {
                if (event.status) {                    
                    //Refresh zip process status                        
                    count++;                    
                    //Add the file
                    compressFile(zipFile, result.attName, result.attEncodedBody); 
                    $('#count').text(count);
                    $('#percent').css('width',(count/checkedSize)*100+'%');                                        
                    if(count<checkedSize)
                          compress(count);                 
                    //Once all the selected files have been compressed
                    if (count == checkedSize) {
                        //Send form
                        downloadZip(zipFile);                                  
                    }
                } else if (event.type === 'exception') {                    
                    hidePopup();
                    if(event.statusCode==414)
                        alert('You can only compress upto 15MB of file.');
                    else
                        alert('Exception: ' + event.message);
                    return false;                    
                } else {
                    hidePopup();
                    alert('Message: ' + event.message);
                }
            }
        });
        
        function hidePopup(){
          $('#overlay').hide(); $('#fade').hide();
      	}
    
    	function closePop(){
          hidePopup();
      	}
        var inputCheckBox;
        function selectAllCheckboxes(obj,receivedInputID){
            inputCheckBox = document.getElementsByTagName("input");              
            for(var i=0; i<inputCheckBox.length; i++){          
                if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }
    
        function validateDownload(){
            /*for(var i=0; i<inputCheckBox.length; i++){          
                    if(inputCheckBox[i].checked == checked){                                     
                         break;
                    }else{
                        alert('Select atleast on attachment');
                        break;
                    }
                }
                var attch;
                attch = {!attachments};
                alert(attch);
                var checkedSize = document.getElementsById("inputId");
                alert(checkedSize.length);
                for(var i=0; i<checkedSize.length; i++){ 
                 if(checkedSize[i].checked=true){
                     alert('1');
                }
                    else{
                    alert('0');
                        }
                    }
                alert(checkedSize);*/
                var abc = "00P1200000ftoluEAA";
                alert(abc);
                
                ContractAttachmentViewPageController.getAttachment(abc,function(result, event){
                    if (event.status){
                        alert(result.attName+" "+event.status);
                        console.log(result.attEncodedBody);
                        compressFile(zipFile, result.attName, result.attEncodedBody);
                    }
                });  
        }
    function compressFile(zipFile, name, data) {
 		zipFile.file(name, data, {base64:true});
 	}
    
    function downloadZip(zipFile){
 		var fileName = '{!fileName}';
        var attachmentData = zipFile.generateAsync({type:"blob"}).then(function (blob) {
        $('#complete').show();
        $('#txtStatus').hide();
        saveAs(blob, fileName);
        closePop();
      }, function (err) {
          blobLink.innerHTML += " " + err;
      });
    }
    
    </script>
    
    <apex:form id="theForm">
    	<div id="overlay" style="display:none;">
            <center>
            <div id="txtStatus">
                <p>
                    Compressing...
                </p>
                <p>
                	<img src="/img/loading32.gif" width="25" height="25" />             
                </p>
            </div>
            <div id="progress">
                <div id="percent" style="width:50%;background-color:green;"></div>
            </div>
            <div id="complete">
                Complete!
            </div>
                <!--<input type="button" onclick="closePop()" value="Close" class="btn"/>-->
            </center>
        </div>
        <div id="fade" style="display:none;"></div>
        <apex:pageBlock id="thePageBlock" title="Attachments">
            <apex:pageBlockTable value="{!Attachments}" var="att">
            
                <apex:column >
                    <apex:facet name="header">
                        <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')"/>
                    </apex:facet>
                    <apex:inputCheckbox value="{!att.isSelected}" id="inputId" onclick="formArray('{!att.attObj.Id}')" html-class="selectBox"/>
                    <!-- <input type="checkbox" name="att_ids_group[]" id="{!att.attObj.Id}" value="{!att.isSelected}" onclick="formArray('{!att.attObj.Id}')" /> -->
                    <apex:inputHidden value="{!att.attObj.Id}"/>
                </apex:column>
                
                <apex:column headerValue="Attachment Name" value="{!att.attName}" />
                <apex:column headerValue="Object Type" value="{!att.ObjectType}"/>
                <apex:column headerValue="Size in MB" value="{!att.sizeMb}"/>
                <apex:column headerValue="Owner" value="{!att.attObj.owner.Name}"/>
                <apex:column headerValue="createddate" value="{!att.attObj.createddate}"/>
                <apex:column headerValue="(CLick To View)"><apex:outputLink value="/servlet/servlet.FileDownload?file={!att.attObj.Id}" id="theLink" target="_blank">View</apex:outputLink></apex:column>
     
            </apex:pageBlockTable>
            
            <apex:pageBlockButtons location="bottom" id="button">
                <input type="button" value="Download Attachments" class="btn"  id="dAllAtts"/>
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
        
        
    </apex:form>    
    
</apex:page>